Assets/wikimt-x
Assets/midicaps_mid/*
Assets/midicaps_mtf/*
Assets/midicaps_npy/*
Assets/midicaps.tar.gz
/code/weights_*.pth
/code/weight_only/*.safetensors

/exit
Miniconda*.sh
/code/wandb/# large artifacts
code/wandb/
*.wandb
*.log
Miniconda3-*.sh

.venv/
__pycache__/