Assets/lmd_full*
Assets/wikimt-x
Assets/Midi*
Assets/midi*

/code/weights_*.pth
/code/weight_only/*.safetensors

/exit
Miniconda*.sh
/code/wandb/# large artifacts
code/wandb/
*.wandb
*.log
Miniconda3-*.sh
